#!/bin/sh

set -eu

if [ -d "$HOME/.oh-my-zsh" ]; then
  exit 0
fi

echo "Installing Oh My Zsh..."
RUNZSH=no CHSH=no KEEP_ZSHRC=yes sh -c \
  "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
